Repository teamleadercrm/api, pull requests merged in 2018-04, with the labels that each got.

#117 in-597-proposal-invoices-draft-with-discounts
  apiary.apib
  src/05-invoicing/invoices.apib
Labels: TEAM - Invoicing

#116 events.update can now update links
  apiary.apib
  src/04-calendar/events.apib
Labels: TEAM - Calendar

#119 Add 'term' filter to events.list
  apiary.apib
  src/04-calendar/events.apib
Labels: TEAM - Calendar

#121 [CORE-502] DealSources.list
  apiary.apib
  src/03-deals/deal-sources.apib
  src/apiary.apib
Labels: enhancement

#120 Add work_type_id to events.create
  apiary.apib
  src/04-calendar/events.apib
Labels: TEAM - Calendar

#125 Add missing response data for product categories to /creditNotes.info
  apiary.apib
  src/05-invoicing/credit-notes.apib
Labels: TEAM - Invoicing

#123 Add optional work_type_id to events.update
  apiary.apib
  src/04-calendar/events.apib
Labels: TEAM - Calendar

#124 Add location to events.create and events.update
  apiary.apib
  src/04-calendar/events.apib
Labels: TEAM - Calendar

#132 [CORE-864] Companies.list primary_address
  apiary.apib
  src/02-crm/companies.apib
Labels: refactor

#135 [CORE-865] Contacts.list primary_address
  apiary.apib
  src/02-crm/contacts.apib
Labels: refactor

#133 events.cancel
  apiary.apib
  src/04-calendar/events.apib
Labels: TEAM - Calendar

#100 Add attendees to events.update
  apiary.apib
  src/04-calendar/events.apib
Labels: TEAM - Calendar

#137 Allow us to add custom fields to a new company
  apiary.apib
  src/02-crm/companies.apib
Labels: enhancement, hold, proposal
