Repository teamleadercrm/api, pull requests merged in 2018-03, with the labels that each got.

#75 [CORE-440] Companies.list add tags
  apiary.apib
  src/02-crm/companies.apib
Labels: enhancement, hold

#72 [CORE-442] [CORE-752] Add companies.list: filter on tags
  apiary.apib
  src/02-crm/companies.apib
Labels: enhancement

#73 Add payment terms list request proposal
  src/04-invoicing/payment-terms.apib
  src/apiary.apib
Labels: proposal

#77 [CORE-753] Return tags in the contacts.list endpoint
  apiary.apib
  src/02-crm/contacts.apib
Labels: hold

#78 [CORE-754] Document the tags filter for companies.list
  apiary.apib
  src/02-crm/contacts.apib
Labels: hold

#57 Add basic deal endpoints
  apiary.apib
  src/02-crm/deals.apib
  src/apiary.apib
Labels: hold

#83 Add /events.update
  apiary.apib
  src/04-calendar/events.apib
Labels: TEAM - Calendar, hold

#79 Add links to Events.create for Calls
  apiary.apib
  src/04-calendar/events.apib
Labels: TEAM - Calendar

#89 Add php example code for OAuth2
  apiary.apib
  examples/oauth2.php
  src/oauth2.apib
Labels: enhancement

#87 Add ledger(product_category) to invoices.info
  apiary.apib
  src/05-invoicing/invoices.apib
Labels: TEAM - Invoicing

#88 Add documentation about rate limiting
  apiary.apib
  src/introduction.apib
Labels: enhancement

#80 Add proposal for productCategories.list
  apiary.apib
  src/05-invoicing/product-categories.apib
  src/apiary.apib
Labels: TEAM - Invoicing

#98 [CORE-517] Add a customer filter on deals.list
  apiary.apib
  src/03-deals/deals.apib
Labels: hold

#95 Add contact to types of attendees for events.create
  apiary.apib
  src/04-calendar/events.apib
Labels: TEAM - Calendar

#96 events.info now returns attendees of type contact
  apiary.apib
  src/04-calendar/events.apib
Labels: TEAM - Calendar

#105 Added link filter to events.list
  apiary.apib
  src/04-calendar/events.apib
Labels: TEAM - Calendar

#107 Add attendees to events.list
  apiary.apib
  src/04-calendar/events.apib
Labels: TEAM - Calendar

#106 Events.list Order can now be asc and desc
  apiary.apib
  src/04-calendar/events.apib
Labels: TEAM - Calendar

#111 Add line item discount to invoices draft and update
  apiary.apib
  src/05-invoicing/invoices.apib
Labels: TEAM - Invoicing

#109 Add attendee filter to events.list
  apiary.apib
  src/04-calendar/events.apib
Labels: TEAM - Calendar
