Repository teamleadercrm/api, pull requests merged in 2018-09, with the labels that each got.

#214 Add remarks to invoice draft
  apiary.apib
  src/05-invoicing/invoices.apib
Labels: TEAM - Invoicing

#218 Rename remarks to note
  apiary.apib
  src/05-invoicing/invoices.apib
Labels: TEAM - Invoicing

#216 Add remarks to invoices update
  apiary.apib
  src/05-invoicing/invoices.apib
Labels: TEAM - Invoicing

#221 Add expected payment method to invoices info
  apiary.apib
  src/05-invoicing/invoices.apib
Labels: TEAM - Invoicing

#217 [CAL-819] Filter projects.list by customer
  apiary.apib
  src/07-projects/projects.apib
Labels: TEAM - Projects, hold

#225 Add documentation on web_url
  apiary.apib
  src/02-crm/companies.apib
  src/02-crm/contacts.apib
  src/03-deals/deals.apib
Labels: TEAM - Core
