Repository teamleadercrm/api, pull requests merged in 2019-01, with the labels that each got.

#262 Filter projects.list on term
  apiary.apib
  src/07-projects/projects.apib
Labels: TEAM - Projects

#246 Add withholding_tax_rate_id to invoices draft and update
  apiary.apib
  src/05-invoicing/invoices.apib
Labels: TEAM - Invoicing

#252 Add bookyear to invoice numbers
  apiary.apib
  src/05-invoicing/invoices.apib
  src/changes.apib
Labels: breaking-change

#267 Rename local business number to national identification number
  apiary.apib
  src/02-crm/companies.apib
  src/05-invoicing/credit-notes.apib
  src/05-invoicing/invoices.apib
  src/changes.apib
Labels: breaking-change

#256 Add `outstanding` and `matched` statuses to `invoices.list` and `invoices.info`
  apiary.apib
  src/05-invoicing/invoices.apib
  src/changes.apib
Labels: breaking-change

#274 2019-01-24
  apiary.apib
  src/02-crm/companies.apib
  src/05-invoicing/credit-notes.apib
  src/05-invoicing/invoices.apib
  src/changes.apib
Labels: breaking-change

#272 Add proposal for the users.list filter on term
  apiary.apib
  src/01-general/users.apib
Labels: proposal

#278 Improve documentation
  CONTRIBUTING.md
Labels: enhancement
